@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Remove x scrollbars */
  height: 100%; /* Ensure full height for the layout */
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

* {
  box-sizing: border-box;
}